<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN PAGE</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="shortcut icon" href="/static/css/ad.png">
    <!-- <link rel="stylesheet" href="/static/css/styles.css"> -->



</head>

<body>

    {% block content %} {# Template inserted here #} {% endblock %}

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/scripts.js"></script>
    <script src="/static/js/script.js"></script>

</body>

</html>