<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADBU Navigation page</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/css/ad.png">

</head>

<body>

    <body>

        <!-- header -->
        <div class="header">
            <div class="sides">
                <a href="https://www.dbuniversity.ac.in/" class="logo">ADBU</a>
            </div>
            <div class="sides">
                <!-- <a href="#" class="menu"> </a> -->
            </div>
            <div class="info">
                <h1>Assam Don Bosco University</h1>
                <div class="meta">
                    <a class="author"></a>
                </div>
                <h2>
                    ONLINE HALL BOOKING
                </h2>
                <br><br><br><br><br><br>

            </div>
        </div>
        <!-- panel -->
        <div class="container">
            <div id="Login" class="section">
                <div class="content">
                    <h2><a href="">Home</a></h2>
                </div>
                <div class="overlay"></div>
            </div>


            <div id="Home" class="section">
                <div class="content">
                    <h2><a href={{ url_for( 'log') }}>Login</a></h2>

                </div>
                <div class="overlay"></div>
            </div>


            <div id="Contact" class="section">
                <div class="content">
                    <h2><a href="https://www.dbuniversity.ac.in/vision.php">About</a></h2>
                </div>
                <div class="overlay"></div>
            </div>
        </div>
        <!-- sponsors -->
        <!-- <div class="cont">
            <p align="center"><b>Awards and Accolades</b></p>
            <br><br><br>
    
            <div class="flex-container1">
    
                <div class="sponsors">
                    <img src="cert1.png" height="200px">
                </div>
    
                <div class="sponsors">
                    <img src="cert2.png" height="200px">
                </div>
                <div class="sponsors">
                    <img src="cert3.png" height="200px">
                </div>
                <div class="sponsors">
                    <img src="cert4.png" height="200px">
                </div>
                <div class="sponsors">
                    <img src="cert5.png" height="200px">
                </div>
                <div class="sponsors">
                    <img src="cert6.png" height="200px">
                </div>
            </div>
        </div> -->
        <!-- info part-->

        <div class="flex-container">
            <div>
                <div class="header1">
                    <h3>Azara Campus Contact</h3>
                </div>
                <ul>
                    <li>Airport road Azara,</li><br>
                    <li>Guwahati - 781017</li><br>
                    <li>Assam - India</li><br>
                    <li>Phone:09435 545 754 / 09435Phone</li><br>
                    <li>709 585</li><br>
                    <li>( 03612 139 291 )</li><br>
                    <li>Email: General Queries -</li><br>
                    <li>contact@dbuniversity.ac.in</li><br>
                </ul>

            </div>

            <div>
                <div class="header1">
                    <h3>University Foundation</h3>
                </div>
                <ul>
                    <li>University Foundation</li>
                    <br>

                    <li>Support Us</li><br>

                    <li>
                        <a href="https://nad.digilocker.gov.in/">
                    Unifoun
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <div class="header1">
                    <h3>
                        Other Quicklinks
                    </h3>
                </div>
                <ul>
                    <li>
                        <a href="https://dbu.everitas.in/https://nad.digilocker.gov.in/">Online Exam
                        </a><br>
                    </li><br>
                    <li>
                        <a href="https://dbu.everitas.in/https://nad.digilocker.gov.in/">Online Entrance Examination</a>
                    </li><br>
                    <li>
                        <a href="https://www.dbuniversity.ac.in/Jobs_at_ADBU.phphttps://nad.digilocker.gov.in/">Careers</a>
                    </li><br>
                    <li>
                        <a href="https://www.dbuniversity.ac.in/feedback_form.phphttps://nad.digilocker.gov.in/">Feedback</a>
                    </li><br>
                    <li>
                        <a href="https://www.classle.net/edu/dbuniversity/https://nad.digilocker.gov.in/">Classle</a>
                    </li><br>
                    <li>
                        <a href="https://play.google.com/store/apps/details?id=com.kryptosmobile.ADBUhttps://nad.digilocker.gov.in/">DBU App</a>
                    </li><br>
                    <li>
                        <a href="https://www.dbuniversity.ac.in/GMAT-test-center.phphttps://nad.digilocker.gov.in/">GMAT Test</a>
                    </li><br>
                    <li>
                        <a href="http://192.168.63.52/st/https://nad.digilocker.gov.in/">Spoken Tutorial</a>
                    </li><br>
                    <li>
                        <a href="https://www.dbuniversity.ac.in/scholarships.phphttps://nad.digilocker.gov.in/">Scholarship</a>
                    </li><br>
                    <li>
                        <a href="https://www.dbuniversity.ac.in/Don_Bosco_University_Foundation.phphttps://nad.digilocker.gov.in/">University Foundation</a>
                    </li><br>
                    <li>
                        <a href="https://www.dbuniversity.ac.in/Policy_Docs.php">Policy Docs</a>
                    </li><br>
                    <li>
                        <a href="https://adbugeoinformatics.wordpress.com/https://nad.digilocker.gov.in/">Centre for Geoinformatics</a>
                    </li><br>
                    <li>
                        <a href="https://www.dbuniversity.ac.in/Annual_Reports.phphttps://nad.digilocker.gov.in/">Annual Reports</a>
                    </li><br>
                    <li>
                        <a href="https://www.dbuniversity.ac.in/University-Roll-of-Honour.phphttps://nad.digilocker.gov.in/">University Roll of Honour</a>
                    </li><br>
                    <li>
                        <a href="https://www.dbuniversity.ac.in/Commitment_to_Sustainability.phphttps://nad.digilocker.gov.in/">UN-SDG</a>
                    </li><br>
                    <li>
                        <a href="https://www.dbuniversity.ac.in/Ombudsman.phphttps://nad.digilocker.gov.in/">Ombudsman</a>
                    </li><br>
                    <li>
                        <a href="https://drive.google.com/drive/folders/1UhKRxBNy80zTXSi0AuSp6WiIJysNrX40?usp=sharinghttps://nad.digilocker.gov.in/">Student Feedback</a>
                    </li><br>
                </ul>
            </div>
        </div>
        </div>
        <script src="/static/js/script.js"></script>
    </body>

</html>